<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MOEHELog4NetFilePath" value="C:\Users\administrator.MOEHE\source\Workspaces\MOEHE\SourceCode\ITWORX.MOEHEWF\ITWORX.MOEHEWF.ReassignReceptionistsTasks\log4net.config"/>
    <add key="MOEHELogger" value="MOEHEReassignReceptionistsLogger"/>
    <add key="siteURL" value="http://moehe-dev-05"/>
  </appSettings>
</configuration>