<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ITransactionProcessor">
          <security mode="Transport" />
        </binding>
        <binding name="ITransactionProcessor1" />
        <binding name="ITransactionProcessor2">
          <security mode="Transport" />
        </binding>
        <binding name="ITransactionProcessor3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- testing -->
      <endpoint address="https://ics2wstesta.ic3.com:443/commerce/1.x/transactionProcessor"
        binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor"
        contract="TestingCyberSrcTransactionService.ITransactionProcessor"
        name="portXML">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>qnb_moed_qar</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">9vgFUiDcitgrjtcfwGymKl3tl+MaDUjQpBCWXPRLoMHTUvvcipmQln/axZaA/XgvZ6FBpHJckodAg95KQXUg2ZhgYSatlclYVQlvJzJDeMgCUa4D3OZ4+opfqMaa+6pj5gY4CrKRyiOpZLExbdbYWgt7vIv/6e7xFWzC26t7cFly+jpagX79DgDBnofoXuNTQnFwhQ3Ecemp0Ipx88z9O2sk5PTJqx0pdsk4ow03smSIB8NPxjEJoXXE4+pO8ZbU+YB5c3JeBgJRsU0uuhLHg+7q72ubhq/sCaVoXGU0X6RisEgzcjusdDsHD8M7k0lpRRl6iS0AXiVnl8MNzKkuDQ==</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <!-- production -->
      <endpoint address="https://ics2wsa.ic3.com:443/commerce/1.x/transactionProcessor"
        binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor2"
        contract="ProductionCyberSrcTransactionService.ITransactionProcessor"
        name="portXML1" >
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>qnb_moed_qar</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">Hw/CT7zgEfTIl3q8AFerFDF32LlRmBs6HaUsj0Zzcd218mqHyFJsuA9LioKW4BtEe5ayCl7SLca6HUFOp4ygxj3OtO3c7NG7eLNmME+C0A29zkOlSCwrkwGsOXT8ed8g+VFiOW83xvl+2LC/h3Q713Lr/9bI9QkvnidfWmm4kAjDxEho9IRmbPPcR+KPkLJbGpW1AzN5IX4fP42JKvJUMIC4rVdUSbFZmizfLrzFem0C6cJVm0oAUuZyZrWu1X31mC23+5hYBCqSOfG19opSGj1WrZ8mDNGiwLFyC+wG/oDD6ay532ZSSVqQayHghWMabsTL0P/wP8D4NFR73wvQ6w==</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>