<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- ... -->
    <add key="MOEHELog4NetFilePath" value="C:\TFS\MOEHE\SourceCode-09-04-2018\ITWORX.MOEHEWF\ITWORX.MOEHEWF.PADelayedDays\log4net.config" />
    <add key="MOEHELogger" value="MOEHEDelayedDaysLogger" />
    <add key="ConfigurationList" value="Configuration" />
    <add key="RequestsList" value="PARequests" />
    <add key="DelayedDays" value="DelayedDays" />
    <add key="siteURL" value="http://moehe-dev-05" />
    <!-- ... --> 
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>