/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family: "GE SS Two Light";
    src: url("../../css/ar-sa/fonts/GE\ SS\ Text\ Light.eot") format("eot"), url("../../css/ar-sa/fonts/GE\ SS\ Text\ Light.woff") format("woff"), url("../../css/ar-sa/fonts/GE\ SS\ Text\ Light.ttf") format("truetype"), url("../../css/ar-sa/fonts/GE\ SS\ Text\ Light.svg#GESSTwoLight-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*general Styles*/

#SslWarning {
    display: none;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 3px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Segoe UI;
    overflow-y: auto;
    font-family: sans-serif;
    position: relative;
}

.display-inline-block {
    display: inline-block;
}

.section-border {
    border: solid 1px #e2e2e2;
}

.login-msg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.margin-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.moe-color {
    color: #a40136;
}

.moe-full-width {
    width: 100%;
    max-width: 100%;
}

.font-size-14 {
    font-size: calc(.9em + .1vw);
}
/*Calendar*/
.ui-datepicker {
    width: 19.3% !important;
}

    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
        background: none !important;
        background-image: none !important;
        text-indent: 0 !important;
        padding: .2em 0 0 .2em !important;
        color: transparent;
    }

    .ui-datepicker .ui-icon-circle-triangle-w:before, .ui-datepicker .ui-icon-circle-triangle-e:before {
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 16px;
        /*content:"\f100";*/
    }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    text-align: center;
}

.ui-datepicker .ui-state-highlight, .ui-datepicker .ui-widget-content .ui-state-highlight, .ui-datepicker .ui-widget-header .ui-state-highlight {
    border: 1px solid #a40136 !important;
    background: #a40136 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    padding: 0 !important;
    /* width: 100px!important; */
    overflow: visible;
    height: auto !important;
    background-color: #a40136 !important;
    color: white !important;
    min-width: 90px;
}

.error-msg, .noFiles {
    font-size: calc(.9em + .09vw) !important;
    font-weight: 400 !important;
    height: auto !important;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    color: red;
}

.moe-section input[type=button], .moe-section input[type=reset], .moe-section input[type=submit], .moe-section button, .moe-btn,
input[type=button], input[type=reset], input[type=submit], button,
input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:hover,
input[type=button]:active, input[type=reset]:active, input[type=submit]:active, button:active {
    border-radius: 3px;
    min-height: 40px;
    height: calc(28px + .78vw);
    font-size: calc(1em + .25vw);
    padding: 10px 24px;
    min-width: 135px;
    line-height: 1.1;
    outline: none;
    background-color: #a40136;
    color: white !important;
    font-weight: bold;
}

.resend-btn, a.resend-btn:hover {
    color: #a40136;
    text-decoration: underline;
    font-size: calc(.8em + .1vw);
    text-decoration: underline;
}

.moe-radioBtn {
    width: 100%;
    line-height: calc(30px + .7vw);
}

    .moe-radioBtn tbody > tr {
        width: 50%;
        display: inline-block;
        font-size: calc(1em + .1vw);
    }

.heighlighted-section {
    padding: calc(15px + .2vw) calc(20px + .2vw);
}



.flex-wrap {
    flex-wrap: wrap;
}

.flex-display {
    display: flex;
    display: -webkit-flex;
}

.margin-top-50 {
    margin-top: calc(25px + 1.28vw);
}

.data-container h6 {
    color: black;
}

.data-container h6 {
    font-weight: bold;
    font-family: sans-serif;
}

.font-size-16 {
    font-size: calc(.9em + .17vw);
}

.margin-bottom-10 {
    margin-bottom: calc(5px + .25vw);
}

.margin-top-10 {
    margin-top: calc(5px + .25vw);
}

.margin-top-50 {
    margin-top: calc(25px + 1.28vw);
}

.font-size-14 {
    font-size: calc(.9em + .09vw);
}

.font-size-16 {
    font-size: calc(.9em + .17vw);
}

.font-size-18 {
    font-size: calc(.9em + .29vw);
}

.font-size-20 {
    font-size: calc(1em + .3vw);
}

.font-size-22 {
    font-size: calc(1em + .4vw);
}

.font-size-32 {
    font-size: calc(1em + .9vw);
}

.font-bold {
    font-weight: bold;
}

.ui-widget-header, ui-state-hover,
.ui-datepicker-prev-hover,
.ui-datepicker-next-hover {
    border: none !important;
    background: #a40136 !important;
    color: white !important;
    font-weight: bold;
}

.ui-datepicker .ui-icon-circle-triangle-w:before {
    content: "\f053";
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #a40136;
    background: #a40136 !important;
    font-weight: bold;
    color: #ffffff;
}

.ui-datepicker .ui-icon-circle-triangle-e:before {
    content: "\f054";
}

.row {
    /* margin: 0; */
}

.margin-bottom-50 {
    margin-bottom: calc(25px + 1.28vw);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: white;
}

.margin-bottom-25 {
    margin-bottom: calc(15px + .52vw);
}

.margin-top-25 {
    margin-top: calc(15px + .52vw);
}


.padding-end {
    padding-left: 0;
}

.padding-start {
    padding-right: 0;
}

.flex-display {
    display: flex;
    display: -webkit-flex;
}

.table-display {
    display: table;
}

.page-padding {
    padding: 0 6.88vw;
}

.no-margin {
    margin-right: 0;
    margin-left: 0;
}

.margin-tb-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.auto-margin-lr {
    margin: 0 auto;
}

.moe-full-width {
    width: 100%;
}

.moe-width-85 {
    width: 85% !important;
}
/*Main Conent*/
#main-content {

    background: url('../../images/masterpage-bg.png') no-repeat;
    object-fit: contain;
    background-size: cover;
    padding: 30px 0;
    position: relative;
}

.user-form {
    border-top: solid rgb(164, 1, 54) 4px;
    background-color: rgb(254, 254, 254);
    /*width: 39.58vw;*/
    /*min-width : 500px;*/
    min-width: 500px;
    max-width: calc(500px + 5vw);
    box-sizing: border-box;
    padding: calc(20px + .8vw) calc(35px + .95vw);
    margin: 0% auto;
}




.select2-container--default .select2-selection--single {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(210, 210, 210);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    min-height: 35px;
    height: calc(30px + .78vw);
}

.select2-container--default .select2-selection--single {
    border-radius: 2px;
}

.form-header h3 {
    font-family: sans-serif;
    color: #252525;
    font-size: calc(1em + .21vw);
    font-weight: bold;
}

.form-header h2 {
    font-family: sans-serif;
    color: #8f1336;
    font-size: calc(1em + .31vw);
    font-weight: bold;
}

.form-logo {
    margin: 10px auto;
}

.form-content h2 {
    font-size: calc(1em + .52vw);
    color: #1d1d1b;
    font-weight: 500;
    font-family: sans-serif;
    margin: calc(15px + .52vw) 0;
}

.form-content label {
    margin-bottom: 5px;
    font-size: calc(1em + .12vw);
    font-weight: 600;
    color: #3c3c3c;
    height: calc(20px + .4vw);
}

.form-content h2.instruction {
    margin: 0 0 10px;
    color: #8f1336;
    font-size: calc(1em + .3vw);
    height: auto;
}

.form-content ul.instruction-list {
    padding: 0 0 0 20px;
    /* list-style: disc; */
    font-size: calc(.9em + .1vw);
    font-weight: 600;
    margin: 0 0 calc(20px + 1.5vw);
}

    .form-content ul.instruction-list li {
        display: inline-block;
        position: relative;
    }

        .form-content ul.instruction-list li:before {
            content: "*";
            display: inline-block;
            position: absolute;
            left: -20px;
            right: auto;
        }

html[dir="rtl"] .form-content ul.instruction-list {
    padding: 0 20px 0 0;
}

    html[dir="rtl"] .form-content ul.instruction-list li:before {
        left: auto;
        right: -20px;
    }

.form-content ul.instruction-list li {
    margin: 5px 0;
    color: #3c3c3c;
}

/*.form-content .col-md-6 .form-group {
	width: 95%;
}*/

.moe-width-85 {
    width: 85%;
}

.form-group .btn {
    background-color: #a40136;
    border-radius: 3px;
    min-height: 33px;
    height: calc(28px + .78vw);
    color: white;
    font-family: GE SS Two Light;
    font-size: calc(1em + .25vw);
    padding: 10px 24px;
    max-width: 135px;
    min-width: 135px;
    line-height: 1.2;
}

input.form-control, select.form-control, .select2-container--default .select2-selection--single {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(210, 210, 210);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    min-height: 35px;
    height: calc(30px + .78vw);
}

    .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: calc(30px + .78vw);
    }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}

input[type='radio'] + label, input[type='checkbox'] + label {
    font-size: calc(.9em + .1vw);
    color: #6f6f6f;
    height: calc(30px + .78vw);
    /* border: solid 1px; */
}


.error-msg.wrong-data {
    margin: 5px 0;
    border-left: solid 5px #cc0000;
    padding: 10px;
    background: url(/_catalogs/masterpage/MOEHE/common/img/warning.png) left 0 no-repeat #ffe3e3 !important;
    background-size: 40px 40px !important;
    padding: 10px 40px;
    font-size: calc(1em + .2vw) !important;
    font-weight: 600 !important;
    /* height:  32px!important; */
    display: inline-block;
    color: #382c2c !important;
}

html[dir="rtl"] .error-msg.wrong-data {
    background-position: right 0 !important;
    border-right: solid 5px #cc0000;
    border-left: 0;
}

.verification-msg h6 {
    font-size: calc(.9em + .2vw) !important;
    font-weight: 400 !important; /* border-left: solid 5px #cc0000; */
    height: auto !important;
    margin: 20px -2%;
    color: black; /* background: url(/_catalogs/masterpage/MOEHE/common/img/warning.png) left 4% no-repeat #ffe3e3!important; */ /* padding-left: 40px; */ /* background-size: 40px 40px!important; */
    padding: 0;
}

    .verification-msg h6 span {
        margin: 5px 0;
        border-left: solid 5px #cc0000;
        padding: 10px;
        background: url(../../images/warning.png) left 0 no-repeat #ffe3e3 !important;
        background-size: 40px 40px !important;
        padding: 10px 40px;
    }

html[dir="rtl"] .verification-msg h6 span {
    background-position: right 0 !important;
    border-right: solid 5px #cc0000;
    border-left: 0;
    display: block;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

/*change / forget password styles*/


.instruction-list {
    list-style-type: disc;
}

.langBtn a {
    color: #a40136 !important;
    font-weight: bold !important;
    padding: 10px 15px;
    border-radius: 5px !important;
    font-size: calc(.91em + .3vw);
    cursor: pointer;
    background-color: #fff;
    border-radius: 0px !important;
}

.langBtn {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

html[dir="rtl"] .langBtn{
    margin-top:0;
}
/*.form-content .col-md-6:nth-child(odd) {
	padding-left: 0;
}

.form-content .col-md-6:nth-child(even) {
	padding-right: 0;
}*/
/*.form-content .col-md-6:nth-child(odd) .form-group {
	float: left;
}

.form-content .col-md-6:nth-child(even) .form-group {
	float: right;
}*/
.select2-container {
    min-width: 100%;
}



input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:hover {
    border-color: white !important;
    background-color: #e6f2fa;
    background-color: #a40136;
    border-radius: 2px;
}
/*Media Query*/

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1280px) {


    .form-content .col-md-6 .form-group {
        width: 100%;
    }
}

@media screen and (max-width: 1155px) {
}


@media (max-width: 991px) {
}

@media (max-width: 768px) {
    .user-form {
        min-width: 320px;
        padding: calc(20px + .8vw) 20px;
    }
    .ui-datepicker {
        width: 80% !important;
    }
}

input::-webkit-inner-spin-button {
    color: transparent;
    display: none;
}



/*Media Query*/

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1155px) {
}


@media (max-width: 991px) {
}


.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 40% !important;
    margin: 0 5% !important;
    text-align: center;
    background-color: white;
    color: #a40136 !important;
}
