<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- ... -->
    <add key="MOEHELog4NetFilePath" value="C:\Users\administrator.MOEHE\source\Workspaces\MOEHE\SourceCode\ITWORX.MOEHEWF\ITWORX.MOEHEWF.SuspendedRequests\log4net.config" />
    <add key="MOEHELogger" value="MOEHESuspendedRequestsLogger" />
    <add key="ConfigurationList" value="Configuration" />
    <add key="RequestsList" value="Requests" />
    <add key="DelayedApplicantReply" value="DelayedApplicantReply" />
    <add key="ExternalCommunicationsSuspend" value="ExternalCommunicationsSuspend" />
    <add key="CulturalMissionSuspend" value="CulturalMissionSuspend" />
    <add key="siteURL" value="http://moehe-dev-05" />
    <!-- ... -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>