<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="ExchangeServiceUrl" value="https://mail.adec.ac.ae/ews/exchange.asmx" />-->
    <add key="MOEHELog4NetFilePath" value="C:\Projects\MOEHE Portal\Aya\SourceCode\ITWORX.MOEHEWF\ITWORX.MOEHEWF.DeleteDocument\log4net.config"/>
    <add key="MOEHELogger" value="MOEHEDeleteDocumentLogger"/>
    <add key="ConfigurationList" value="Configuration"/>
    <add key="LimitedHoursToSavebeforeDeletion" value ="LimitedHoursToSavebeforeDeletion"/>
    <add key="WebUrl" value="http://moehe-dev-04:21446/en-us/FirstSubsite"/>
    <add key="DocumentLibraries" value="DocumentLibraries"/>
   
  </appSettings>
</configuration>