<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=172.16.0.216;initial catalog=JuniverseMedia;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PrivateScoolsPreEnrollmentEntities11" connectionString="metadata=res://*/PSPESDBModel.csdl|res://*/PSPESDBModel.ssdl|res://*/PSPESDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sp2016-05;initial catalog=PrivateScoolsPreEnrollment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PrivateScoolsPreEnrollmentEntities12" connectionString="metadata=res://*/PSPESDBModel.csdl|res://*/PSPESDBModel.ssdl|res://*/PSPESDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sp2016-05;initial catalog=PrivateScoolsPreEnrollment;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PrivateScoolsPreEnrollmentEntities1" connectionString="metadata=res://*/PSPESDBModel.csdl|res://*/PSPESDBModel.ssdl|res://*/PSPESDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sp2016-05;initial catalog=PrivateScoolsPreEnrollment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
   <!-- <add name="PrivateScoolsPreEnrollmentEntities222" connectionString="metadata=res://*/PSPESDBModel.csdl|res://*/PSPESDBModel.ssdl|res://*/PSPESDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SP16-SQL-CL01\SP16INST01;initial catalog=PrivateScoolsPreEnrollment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="PrivateScoolsPreEnrollmentEntities222" connectionString="metadata=res://*/PSPESDBModel.csdl|res://*/PSPESDBModel.ssdl|res://*/PSPESDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sp2016-02;initial catalog=PrivateScoolsPreEnrollment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
  
  
  <appSettings>
    <add key="WebAPIURL" value="http://localhost/" />
    <add key="HodHodAPIURL" value="https://hodhodsvc.edu.gov.qa" />
    <add key="NSIS_GetEnrollments" value="https://nsis.sec.gov.qa/NSISServices/NSISServices-IntegrationServices.svc/json/GetEnrollments" />
    <add key="NSIS_GetSchools" value="https://nsis.sec.gov.qa/NSISServices/NSISServices-IntegrationServices.svc/json/GetSchools" />
    <add key="NSIS_GetCodes" value="https://nsis.sec.gov.qa/NSISServices/NSISServices-IntegrationServices.svc/json/GetCodes" />
    <add key="PHCC" value="http://10.1.36.93/getStudentDetails.php" />
    <add key="PHCC_Token" value="d29b1aaf4087296715f197b799f5ce1f" />
    <add key="NSIS_StudentContacts" value="https://nsis.sec.gov.qa/NSISServices/NSISServices-IntegrationServices.svc/json/GetStudentPersonal" />
    <add key="MOI_WebAPIURL" value="http://RFE-AWD1-Tst.sec.gov.qa:6060/api/Person/" />
    <add key="MOI_Token" value="FD1C3E800EE1487D9057920174800B32" />
    <add key="MOI_TokenName" value="API_KEY" />
    <add key="LogChecker" value="ON" />
    <add key="SpecialCurriculumIDs" value="b89eb396-d397-e311-93f9-00155d283a04"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <!--<compilation debug="true" targetFramework="4.5" />-->
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>