

@font-face {
    font-family: 'HacenTunisiaLt';
    src: url('../fonts/HacenTunisiaLt.otf');
}
@font-face {
    font-family: 'HacenTunisiaLt';
    src: url('../fonts/HacenTunisiaLt.svg');
}
@font-face {
    font-family: 'HacenTunisiaLt';
    src: url('../fonts/HacenTunisiaLt.eot');
}

@font-face {
    font-family: 'HacenTunisiaLt';
    src: url('../fonts/HacenTunisiaLt.ttf');
}